@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), url(../fonts/Fontspring-DEMO-proximanova-regular.otf) format('opentype');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 700;
    src: local('ProximaNova'), url(../fonts/Fontspring-DEMO-proximanova-medium.otf) format('opentype');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 900;
    src: local('ProximaNova'), url(../fonts/Fontspring-DEMO-proximanova-bold.otf) format('opentype');
}

$primary: #004257;
$bg: #e7ecf1;

.App {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 120px auto;
  background: $bg;
  font-family: ProximaNova;
}

.app-single
{
  width: 100%;
  height: 100vh;
  background: $bg;
  font-family: ProximaNova;
}