@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova"), url(../fonts/Fontspring-DEMO-proximanova-regular.otf) format("opentype");
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 700;
  src: local("ProximaNova"), url(../fonts/Fontspring-DEMO-proximanova-medium.otf) format("opentype");
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 900;
  src: local("ProximaNova"), url(../fonts/Fontspring-DEMO-proximanova-bold.otf) format("opentype");
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5px 0px 15px !important;
}

.header {
  width: 100%;
  background: #fff;
}
.header .header__inner {
  display: flex;
  padding: 0 80px;
  box-sizing: border-box;
  justify-content: space-between;
  height: 129px;
  align-items: center;
}
.header .header__inner .header__library--title {
  display: flex;
  flex-direction: column;
}
.header .header__inner .header__library--title .sub-name {
  color: #004257;
  font-size: 15px;
  font-weight: 700;
}
.header .header__inner .header__library--title .name {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 1.44px;
  color: #004257;
  text-transform: uppercase;
  line-height: 1.5;
}
.header .header__inner .dropdown-variables {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.header .header__inner .dropdown-variables label {
  font-size: 11px;
  color: #004257;
  text-align: left;
}
.header .header__inner .dropdown-variables button {
  background: #f9fafb !important;
  font-size: 13px;
  color: #004257;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  text-align: left;
  box-sizing: border-box;
  padding: 0 15px;
  border: 1px solid #e9e9e9;
}

#results .library-header {
  padding: 0px 80px 0;
  height: 87px;
  background: #fff;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #e8e8e8;
  gap: 8px;
  display: flex;
}
#results .library-header .library-header__left {
  height: 100%;
}
#results .library-header .library-header__left .tabs {
  height: 100%;
  display: flex;
}
#results .library-header .library-header__left .tabs .tab-wrapper {
  display: flex;
  gap: 10px;
  height: 100%;
  margin-right: 30px;
  align-items: center;
  cursor: pointer;
  color: #3d3d3d;
}
#results .library-header .library-header__left .tabs .tab-wrapper.active {
  border-bottom: 1px solid #004257;
  color: #004257;
}
#results .library-header .library-header__left .tabs .tab-wrapper .tab {
  font-weight: 900;
  padding: 10px 0px;
  font-size: 14px;
}
#results .library-header .library-header__left .tabs .tab-wrapper .total-variable {
  background: #eaeaea;
  color: #004257;
  font-size: 12px;
  padding: 0.25em 0.4em;
  border-radius: 5px;
  font-weight: 900;
}
#results .library-body {
  padding: 30px 80px 0;
}
#results .library-body .list-action {
  display: flex;
  justify-content: space-between;
}
#results .library-body .list-action .list-action__left {
  display: flex;
  gap: 10px;
  position: relative;
}
#results .library-body .list-action .list-action__left button {
  background: #f9fafb 0 0 no-repeat padding-box !important;
  color: #004257;
  border-radius: 4px;
  padding: 10px 15px;
  border: 0;
  outline: 0;
  font-weight: 800;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0588235294);
  font-family: "ProximaNova";
  height: 40px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#results .library-body .list-action .list-action__left button span {
  font-size: 18px;
}
#results .library-body .list-action .list-action__left .divider {
  width: 1px;
  height: 40px;
  background: #d6d0d0;
  position: relative;
}
#results .library-body .list-action .list-action__right {
  display: flex;
  gap: 7.5px;
}
#results .library-body .list-action .list-action__right button {
  background: #004257;
  color: #004257;
  border-radius: 4px;
  padding: 10px 15px;
  border: 0;
  outline: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.0588235294);
  font-family: "ProximaNova";
  height: 40px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#results .library-body .list-action .list-action__right button span {
  font-size: 18px;
}
#results .library-body .list-action .list-action__right .delete {
  background: #fff !important;
  color: red;
  border: 1px solid red;
  transition: 0.3s background;
}
#results .library-body .list-action .list-action__right .delete:hover {
  background: red !important;
  color: #fff;
}
#results .library-body .list-test-suite {
  width: 100%;
  margin-top: 15px;
  border-radius: 3px;
  overflow: hidden;
}
#results .library-body .list-test-suite .table-suite {
  border-collapse: collapse;
  table-layout: fixed;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.05);
  border-radius: 5px;
  width: 100%;
}
#results .library-body .list-test-suite .table-suite .row-head {
  text-align: left;
  border-right: 2px solid #f5f6f7;
  height: 50px;
}
#results .library-body .list-test-suite .table-suite .row-head th {
  box-sizing: border-box;
  padding: 0 10px;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  border: 0;
  background: #004257 !important;
  cursor: pointer;
}
#results .library-body .list-test-suite .table-suite .row-head .td__test-name {
  width: 500px !important;
  color: #fff;
}
#results .library-body .list-test-suite .table-suite .row-head .passed_count {
  width: 150px;
}
#results .library-body .list-test-suite .table-suite .row-head .failed_count {
  width: 150px;
}
#results .library-body .list-test-suite .table-suite .row-head .status {
  width: 150px;
}
#results .library-body .list-test-suite .table-suite .row-head .download {
  width: 50px;
}
#results .library-body .list-test-suite .table-suite .row-head .circle {
  width: 50px !important;
  box-sizing: border-box;
  padding: 15px;
}
#results .library-body .list-test-suite .table-suite .row-head .circle .circle-group {
  border: 1px solid #dfe5e7;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#results .library-body .list-test-suite .table-suite .row-head .circle .circle-group span {
  font-size: 16px;
}
#results .library-body .list-test-suite .table-suite tr {
  background: #fff;
}
#results .library-body .list-test-suite .table-suite tr a {
  color: inherit;
  font-weight: bold;
}
#results .library-body .list-test-suite .table-suite tr td {
  box-sizing: border-box;
  padding: 0 10px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
  color: #004257;
  border-right: 2px solid #f5f6f7;
  border-top: 2px solid #f5f6f7;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#results .library-body .list-test-suite .table-suite tr td .pass {
  background: #f7fff6;
  color: #3bb233;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  font-weight: 800;
}
#results .library-body .list-test-suite .table-suite tr td .fail {
  background: #fff6f6;
  color: #ec3d3d;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  font-weight: 800;
}
#results .library-body .list-test-suite .table-suite tr .circle {
  width: 50px !important;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
}
#results .library-body .list-test-suite .table-suite tr .circle .circle-group {
  border: 1px solid #dfe5e7;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#results .library-body .list-test-suite .table-suite tr .circle .circle-group span {
  font-size: 16px;
}
#results .library-body .list-test-suite .table-suite tr .option {
  text-align: center;
}
#results .library-body .list-test-suite .table-suite tr .option span {
  background: #004257;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  height: 15px;
  width: 15px;
  line-height: 15px;
  margin: 0;
  cursor: pointer;
}/*# sourceMappingURL=results.css.map */